#datatable table {
	max-width: 600px;
}
#datatable td {
	border: 1px solid lightgray;
}
#datatable th {
	border: 2px solid black;
}

.fake_alert {
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	float: left;
	text-align:center;
	overflow: auto;
}

.message {
  font-weight: bold;
}
.message p {
	background-color: rgba(0,0,0,0.25);

}
.message .head {
	color: white;
	font-weight: bold;
	background: Crimson;
	border: 2px solid white;
	padding: 5px;
	width: auto;
}

#rhymetable {
	background-color: white;
	left: auto;
	top: auto;
	right: auto;
	margin: auto;
}

#rhymetable td {
	border: 2px solid lightgray;
}
#rhymetable th {
	border: 2px solid gray;
}
